<html>
    <head>
        <link rel="stylesheet" href="UI.css">
    </head>
    <body>
        <div class="center">
            <h1>SLASH</h3>
            <input type="text" id="search" placeholder="What do you want to search?" style="margin: 5px;" size="21">
            <label>Amount of Items:</label>
            <input type="number" id="items">
            <label>Sort By:</label>
            <select name="Sort" id="Sort">
                <option disabled selected value>--select an option--</option>
                <option value="relevance">relevance</option>
                <option value="price">price</option>
                <option value="rating">rating</option>
              </select>
              <label for="descending">Descending Order:</label>
              <input type="checkbox" id="descending" name="descending" value="descending">
                <label>Email:</label>
                <input type="email" id="email" placeholder="***@***.***">
                <button>Search</button>
        </div>
        
    </body>
</html>
